@model TatilSeyahatSitesiMvc5.Models.BlogYorum

@{
    ViewBag.Title = "MuzelerDetay";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<style>
    .container {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

        .container .sutun {
            width: 65%;
        }

        .container .sutun2 {
            width: 35%;
        }

        .container .sutun .blogs .img img {
            width: 640px;
            height: 427px;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .container .sutun .blogs .details {
            padding: 0px 0px 0px 20px;
            width: 640px;
            border-radius: 8px;
        }

    .sutun2 .sonblog {
        display: flex;
        flex-direction: column;
    }

    .sutun2 .sonyorum {
        display: flex;
        flex-direction: column;
    }

    .sutun2 h4 {
    }

    .bosluk {
        margin: 0px 0px 10px 0px;
    }


    .text {
        text-decoration: none;
    }

    .container .sutun .yorums {
        border: 1px solid;
        display: flex;
        width: 640px;
        margin-top: 10px;
        border-radius: 8px;
    }

        .container .sutun .yorums .img img {
            width: 70px;
            height: auto;
            margin-top: 5px;
        }
</style>

<div style="width: 1170px;" class="container">
    <div class="sutun">
        @foreach (var x in Model.muzeler)
        {
            <div class="blogs">
                <div class="img">
                    <img src="~/IMG/@x.MuzelerImage">
                </div>
                <div class="details">
                    <h3>@x.Baslik</h3>
                    <h6>@x.Tarih.Value.ToString("dd.MM.yyyy")</h6>
                    <p>@x.Aciklama</p>

                </div>
            </div>
        }
        <h4 style="margin-top:40px;">Yorumlar / 27</h4>
        @foreach (var y in Model.muzeyorum)
        {
            <div class="yorums">
                <div class="img">
                    <img src="~/IMG/user_1077114.png">
                </div>
                <div class="details">
                    <h4>@y.KullaniciAdi</h4>
                    <h6 style="margin-top:-10px;">@y.Tarih</h6>
                    <p>@y.Yorum</p>
                </div>
            </div>
        }
        @Html.Action("MuzeYorumYap", "Muzeler")
    </div>
    <div class="sutun2">
        <h4>Son Bloglar</h4>
        <div class="sonblog">
            @foreach (var z in Model.muzeler2)
            {
                <a class="text" href="~/Muzeler/MuzelerDetay/@z.ID">@z.Baslik</a>
                <hr class="bosluk">
            }

        </div>
        <h4>Son Yorumlar</h4>
        <div class="sonyorum">
            @foreach (var a in Model.muzeyorum2)
            {
                <a class="text" href="/Muzeler/MuzelerDetay/@a.MuzeID">
                    @a.KullaniciAdi on
                    @if (a.Yorum.Length < 20)
                    {
                        @a.Yorum
                    }
                    else
                    {
                        @a.Yorum.Substring(0, 20)
                    }
                </a>
                <hr class="bosluk">
            }
        </div>
    </div>
</div>





